{% extends 'hospital/homebase.html' %}
<!--
developed By : sumit kumar
facebook : fb.com/sumit.luv
youtube : youtube.com/lazycoders
-->

{% block content %}

<br>
<br>

<!-- <div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Hello, Patient</h1>
  <hr class="my-4">
  <p>You can access various features after Login/SignUp.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/patientsignup" role="button">Register Your Account</a>
    <a class="btn btn-primary btn-lg" href="/patientlogin" role="button">Login</a>
  </p>
</div> -->

<br>
<br>
<br>
<br>
<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <br>
  <br>
  <h1 class="display-4" style="text-align:center;">Hello, Patient</h1>
  <br>

  <hr class="my-4">
  <br>

  <p>Login, to Access your Records</p>

  <p class="lead">
  <!--
    <a class="btn btn-primary btn-lg" href="/patientsignup" role="button">Register Patient</a>-->
    <a class="btn btn-primary btn-lg" href="/patientlogin" role="button">Login</a>
  </p>
  <br>
  <p>If you don't have an account yet, then visit your nearest doctor to <b>Open your Account. </b><a href="/">Go to Home Page</a></p>
<br>
<br>
<br>
<br> 
</div>

{% endblock content %}
