<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="author" content="CodeHim">
      <title> Profile Page </title>
      <!-- Style CSS -->
      <style type="text/css"></style>
      <link rel="stylesheet" href="./css/style.css">
      <!-- Demo CSS (No need to include it into your project) -->
      <link rel="stylesheet" href="./css/demo.css">
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap" rel="stylesheet">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    
   </head>


   <body >
      
      <!--$%adsense%$-->
      <main class="cd__main">
         <!-- Start DEMO HTML (Use the following code into your project)-->
         <div class="profile-page" >
          
        <div class="content" >
          
    <div class="content__cover">
      
      <div ><img class="content__avatar" src="male.jpg"></div>
      
      <div class="content__bull"><span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>
    
    <div class="content__actions"><a href="#">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="100 100 640 512">
        </svg><span>Filter</span></a><a href="#">
        
        </svg><span>Delete</span></a>
    </div>
    <div class="content__title">
      <h1>Patient Name</h1><span>City, State, Country</span>
    </div>
    <div class="content__description">
      <p>Email: abcd@gmail.com</p>
      <br>
    </div>
    <ul class="content__list">
      <li><span>Male</span>Gender</li>
      <li><span>22</span>Age</li>
      <li><span><small>+91-7973164181</small></span>Contact</li>
    </ul>
    
    <!--  
       <div class="content__button"><a class="button" href="#">
        <div class="button__border"></div>
        <div class="button__bg"></div>
        <p class="button__text">Show more</p></a></div>
    -->
  </div>
  
    <div class="bg" >
    <div><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
    </div>
  </div>
</div>

<div style="text-align: center; margin: 100px 0px 90px 0px; text-decoration:overline; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><h1><b>Records</b></h1></div>
<!-- TimeLine  ------------------------------------------------>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container" style="background-color: #EFEFEF; border-radius: 50px;">
<div class="row" >
<div class="col-md-12" >
<div id="content" class="content content-full-width">
<div class="profile-content">
<div class="tab-content p-0">
<div class="tab-pane fade active show" id="profile-post">
<ul class="timeline">
<li>

<!--  TimeLine Box------------------------------------------->
<div class="timeline-time" >
<span class="date">{Date}</span>
<span class="time">{Time:Time}</span>
</div>
<div class="timeline-icon">
<a href="javascript:;">&nbsp;</a>
</div>
<div class="timeline-body" >
<div class="timeline-header">
<span class="userimage"><img src="male.jpg" alt></span>
<span class="username">{Name of Doctor}<small></small></span>
<span class="pull-right text-muted" >{Doctor/Hospital}</span>
<small class="text-muted" style="margin-left:45px; margin-top:0px">ID:XXXXX</small>
</div>
<small class="text-muted">
    Title:<br>
    Category:
</small>

<!--  Records  ----------------------------------------->
<div class="timeline-content">
<p>
    <pre>
        Content
        .......
        .......
        .......
    </pre>
</p>
</div>
<!--  Records  ----------------------------------------->

<div class="timeline-comment-box">
<div class="user"><img src="male.jpg"></div>
<div class="input">
<form action>
    <div class="input-group">
    <input type="text" class="form-control rounded-corner" placeholder="Write a comment...">
    <span class="input-group-btn p-l-10">
    <button class="btn btn-primary f-s-12 rounded-corner" type="button">Comment</button>
    </span>
    </div>
</form>
</div>
</div>
</div>
</li>
<!--  TimeLine Box End-------------------------------------------> 

<li>

    <div class="timeline-time">
    <span class="date">2 February 2024</span>
    <span class="time">04:20</span>
    </div>
    <div class="timeline-icon">
    <a href="javascript:;">&nbsp;</a>
    </div>
    <div class="timeline-body">
    <div class="timeline-header">
    <span class="userimage"><img src="male.jpg" alt></span>
    <span class="username">Dr Rishab Verma<small></small></span>
    <span class="pull-right text-muted" >Doctor</span>
    <small class="text-muted" style="margin-left:45px; margin-top:0px">ID:10722</small>
    </div>
    <small class="text-muted">
        Title: Heart Ache Checkup<br>
        Category: Cardiology
    </small>
    <div class="timeline-content">
    <p>
        <pre>
            Content
            .......
            .......
            .......
            .......
        </pre>
    </p>
    </div>
    <div class="timeline-comment-box">
    <div class="user"><img src="male.jpg"></div>
    <div class="input">
    <form action>
        <div class="input-group">
        <input type="text" class="form-control rounded-corner" placeholder="Write a comment...">
        <span class="input-group-btn p-l-10">
        <button class="btn btn-primary f-s-12 rounded-corner" type="button">Comment</button>
        </span>
        </div>
    </form>
    </div>
    </div>
    </div>
    </li>



<li>
<div class="timeline-icon">
<a href="javascript:;">&nbsp;</a>
</div>
<div class="timeline-body">
Loading...
</div>

</li>
</ul>

</div>

</div>

</div>

</div>
</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
	
</script>


   </body>
</html>